{{- $name := promptStringOnce . "name" "Your full name" -}}
{{- $email := promptStringOnce . "email" "Your email address" -}}
{{- $signingkey := promptStringOnce . "signingkey" "Path to your signing key" -}}

[git]
    autoCommit = true
    autoPush = true

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    signingkey = {{ $signingkey | quote }}
