sourceDir = "/Users/masahiro_mitsuhashi/work/repo/dotfiles"

[git]
    autoCommit = true
    autoPush = true

[data]
    name = "{{ .name }}"
    email = "{{ .email }}"
    signingkey = "{{ .signingkey }}"
