{{ if eq .chezmoi.os "darwin" -}}
sourceDir = "/Users/masahiro_mitsuhashi/work/repo/dotfiles"
{{ else -}}
sourceDir = {{ .chezmoi.homeDir | printf "%s/.local/share/chezmoi" | quote }}
{{ end -}}

[data]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
{{- if eq .chezmoi.os "darwin" }}
    signingkey = {{ .signingkey | quote }}
{{- end }}
